body {
    background-color: black; /* Cor da página inteira */
}

.sidebar {
    position: fixed; /* O elemento será fixo na página */ 
    top: 0; /* Nenhum espaço do topo */
    left: 0; /* Nenhum espaço a esquerda */
    bottom: 0; /* Nenhum espaçamento da margem de baixo */
    padding: 8px;
    /* Quando o padding utilizado com só 1 elemento, ele aplicará aquele tamanho a todos as direções */

    width: 300px; /* Largura do bloco */
}

.sidebar__navigation {
    background-color: #131313;
    border-radius: 8px; /* Arredonda as bordas do elemento aplicado */
    padding: 16px 0 0 16px; /* Espaçamento do elemento em relação a margem */
    /* padding: cima direita baixo esquerda */
}

.sidebar__navigation .logo {
    background: #131313;
    display: flex;
    border-radius: 8px; 
    padding: 16px 0 0 16px;
}

.logo img {
    width: 80px; /* Largura da imagem */
}

.sidebar nav ul {
    margin-top: 20px; /* Será o tamanho do espaçamento do elemento que esteja acima dele */
    padding: 0px 20px 10px 20px;
}

.sidebar ul li {
    padding: 10px 0px; /* Utilizando apenas 2 elementos, o 1º será cima e baixo, e o 2º será direita e esquerda */
}

.sidebar nav ul li a {
    color: #b3b3b3;
    text-decoration: none;
    font-weight: 600; /* Esse é a expessura dá fonte */
    font-size: 16px;
    font-family: "DM Sans", sans-serif; /*Fonte*/
}


.library {
    background-color: #131313;
    border-radius: 8px;
    display: flex;  /*O bloco se torna mais flexível, junto com outras propriedades se torna muito mais fácil posicionar os elementos.*/ 
    justify-content: space-between;  /* Distribuí e justifica os itens do container */
    flex-direction: column; /* Direção dos itens no bloco */
    padding: 4px 8px;
    color: #b3b3b3;
    font-weight: 600;
    font-size: 16px;
    margin-top: 10px; /* Espaçamento entre o item que está acima dele */
}

.library .library__content {
    display: flex;
    justify-content: space-between;
}

.library .library__button {
    display: flex;
    margin-right: 10px;
    color: #b3b3b3;
    background-color: transparent; 
    border: 0; /* Retirando o contorno do botão */
    font-size: 14px;
    font-weight: 700;
    font-family: "DM Sans", sans-serif;
    text-align: center;
    text-decoration: none;
    text-transform: none;
    padding: 20px 10px;
}

.library .library__button .fa{
    font-size: 20px;
    margin-right: 10px;
    font-weight: 300;
    padding-right: 8px;
}

.library .library__content .fa-plus {
    margin: 19px 10px;
}

.section_playlist {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    gap: 20; /* Determina o tamanho do espaço que você quer usar em todos os elementos*/
    background-color: #242424;
    color: #b3b3b3;
    border-radius: 8px;
    font-weight: 600;
    font-size: 12px;
    margin: 8px 0px;
    padding: 16px 20px;
}

.section_playlist .section-playlist__content {
    display: flex;
    flex-direction: column; /* É usada para definir a direção dos itens em um container flex */
}

.section-playlist__content .text{
    padding-bottom: 23px;
    color: #fff;
}

.section-playlist__content .title {
    font-weight: 700;
    font-size: 25px;
}

.section-playlist__content .subtitle{
    font-weight: 500;
    font-size: 15px;
    margin-left: 2px;
}

.section-playlist__content .playlist__button {
    display: flex;
    justify-content: center;
    background-color: #fff;
    color: #000;
    border-radius: 5px;
    font-size: 14px;
    font-family: "DM Sans", sans-serif;
    font-weight: 600;
    text-decoration: none;
    text-transform: none;
    padding: 10px; /* Padding usado sozinho estiliza todos os lados quando aplicado */
    margin: 0px -3px;
    margin-top: 12px;
    border: 0px;
    width: 113px;
    cursor: pointer;
}

.cookies {
    margin: 25px 20px;
}

.cookies a {
    color: #b3b3b3;
    font-weight: 500;
    font-size: 12px;
    text-decoration: none;
}

.cookies a:hover {
    text-decoration: underline;
}

.languagens .languagens__button {
    background-color: transparent;
    border: 1px solid #878787;
    color: #fff;
    font-weight: 700;
    cursor: pointer;
    align-items: center;
    width: 170px;
    margin: 8px 10px;
    padding: 8px;
    border-radius: 10px;
}